body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #585858;
  color: white;
}
.first-name {
  color:white;
}
.first-name:hover{
  color:red; 
}
header {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 1em;
}

section {
  max-width: 800px;
  height:300px;
  margin: 2em auto;
  padding: 20px;
  background-color: #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section:hover {
  color:red;
}

h1 {
  font-size: 500%;
}

p {
  line-height: 1.6;
}

.portfolio-item {
  margin-bottom: 40px;
}

.portfolio-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer:hover {
  color:red;
}
label {
  display: block;
  margin:0.5rem 0;
}